apisix:
  node_listen: 9080
  enable_ipv6: false
  enable_control: true
  control:
    ip: "0.0.0.0"
    port: 9092

deployment:
  admin:
    allow_admin:
      - 0.0.0.0/0
    admin_key:
      - name: "admin"
        key: edd1c9f034335f136f87ad84b625c8f1
        role: admin
  etcd:
    host:
      - "http://etcd:2379"
    prefix: "/apisix"
    timeout: 30

plugins:
  - custom-openid-connect
  - limit-count
  - consumer-restriction

plugin_attr:
  custom-openid-connect:
    path: /usr/local/apisix/plugins/custom/custom-openid-connect.lua

  log-rotate:
    interval: 3600
    max_kept: 168
    enable_compression: false

nginx_config:
  error_log: "/dev/stderr"
  error_log_level: "warn"
  access_log: "/dev/stdout"
  http_configuration_snippet: |
    lua_shared_dict rate_limit_dict 10m;
    large_client_header_buffers 4 64k;
    client_header_buffer_size 64k;
