services:
  etcd:
    container_name: etcd
    image: bitnami/etcd:3.5.11
    restart: always
    environment:
      ETCD_ENABLE_V2: "true"
      ALLOW_NONE_AUTHENTICATION: "yes"
      ETCD_ADVERTISE_CLIENT_URLS: "http://etcd:2379"
      ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
    healthcheck:
      test: [ "CMD", "etcdctl", "endpoint", "health" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "2379:2379"
    networks:
      - shared-network

  apisix:
    container_name: apisix
    image: apache/apisix:3.13.0-debian
    restart: always
    ports:
      - "9080:9080"
      - "9443:9443"
      - "9180:9180"
      - "9091:9091"
      - "9092:9092"
    depends_on:
      etcd:
        condition: service_healthy
    volumes:
      - ./apisix-config.yaml:/usr/local/apisix/conf/config.yaml:ro
      - ./custom-plugins/custom-openid-connect.lua:/usr/local/apisix/apisix/plugins/custom-openid-connect.lua
    networks:
      - shared-network

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:latest
    restart: always
    ports:
      - "3001:8080"
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_URL}
      KC_DB_URL: jdbc:postgresql://keycloak_postgres:5432/keycloak
      KC_DB: postgres
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD}
      KC_HTTP_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
    depends_on:
      keycloak_postgres:
        condition: service_healthy
    networks:
      - shared-network
    command:
      - start

  keycloak_postgres:
    container_name: keycloak_postgres
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD}
      POSTGRES_PORT: 5432
    volumes:
      - postgres_keycloak_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared-network

  backend:
    container_name: backend
    build:
      context: ./digitaltwin-dataspace-ts
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      redis:
        condition: service_healthy
      backend_postgres:
        condition: service_healthy
    networks:
      - shared-network
    environment:
      NODE_ENV: production
      LOG_LEVEL: info
      PORT: 3000
      DB_HOST: backend_postgres
      DB_PORT: 5432
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_BACKEND_PASSWORD}
      DB_NAME: backend
      STORAGE_PATH: "./uploads"
      OVH_ACCESS_KEY: ${OVH_ACCESS_KEY}
      OVH_SECRET_KEY: ${OVH_SECRET_KEY}
      OVH_ENDPOINT: ${OVH_ENDPOINT}
      OVH_REGION: gra
      OVH_BUCKET: digitaltwin
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DE_LIJN_API_KEY: ${DE_LIJN_API_KEY}
      STIB_API_KEY: ${STIB_API_KEY}
      TELRAAM_API_KEY: ${TELRAAM_API_KEY}
      NODE_OPTIONS: "--max-http-header-size=65536"

  backend_postgres:
    container_name: backend_postgres
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: backend
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_BACKEND_PASSWORD}
      POSTGRES_PORT: 5432
    volumes:
      - postgres_backend_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared-network

  redis:
    container_name: redis
    image: redis:7.4.1
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - shared-network

  frontend:
    container_name: frontend
    image: node:22.17.0
    working_dir: /app
    volumes:
      - ./react-oidc:/app
      - frontend_node_modules:/app/node_modules
    command: sh -c "npm install && npm run dev"
    ports:
      - "5173:5173"
    networks:
      - shared-network
    restart: always
    environment:
      - NODE_ENV=development


networks:
  shared-network:
    name: shared-network
    driver: bridge

volumes:
  postgres_keycloak_data:
  postgres_backend_data:
  frontend_node_modules: